.Celtics {
	
	color:white;
    font-size:36px;
    font-family:Impact;
    background-color:green;   
}


#login {
	font-size:20px;
	font-family:impact;
	color:green;
	background-image:url('celtics background.png');
	height: 23px;
	width:50px;

}